.logo-nombre{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px
}

/* index */
.body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url("../images/pigg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position: center; */
    /* overflow: hidden; */  
}

/*  */

/* historia.html */
.body1{
    font-family: 'Poppins', sans-serif;
    /* padding: 10px; */
    background-color: lightgrey; 
}

/*  */

/* salud */
.body2{
    font-family: 'Poppins', sans-serif;
    background-color: lightgrey; 
}

/*  */


/* impacto ambiental */

.body3{
    font-family: 'Poppins', sans-serif;
    background-color: lightgrey; 
    overflow-x: disabled;
}

/*  */

.body4{
    font-family: 'Poppins', sans-serif;
    background-color: lightgrey; 
}
