#pie{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;   
}

.banner{
    width: 35px;
    height: 35px;
    text-align: center;
    padding-right: 10px;  
}

.container p{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}

#pie .container .copy{
    text-align: center;
    color: white;

}

#pie{
    background-color: black;
}

/* impacto ambiental */

p{
    width: 50%;
    font-size: 25px;
    /* margin: 40px 25px; */
    text-align: left;
    line-height: 1.5;
    color: black;
}

.footer-index{
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    width: 100%;
}
