nav a:hover{
    color: white;
    transition: .4s;  
}

.logo{
    display: flex;
    align-items: center;  
  
    
}

.logo{
    max-width: 80%;
}

.logo img{
    height: 50px;
    margin-right: 3px;
    opacity: .7;
    padding: 0 20px !important; 
}



.menu,
.menu .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .navbar{
    width: 100%;
    background-color: transparent !important; 
    
}

/* .menu_items{
    display: flex;
    list-style: none;    
}
 */
/* .navbar-nav .menu_items{
    display: flex;
    justify-content: space-between;
}
 */
/* .menu_items li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    text-transform: uppercase;
} */

#navbarNav{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    text-transform: uppercase;
}

.navbar-nav .menu_items .nav-link{
    display: flex;
    justify-content: space-between;
}

.navbar-collapse{
    flex-grow: 0;
}

#navbarNav{
    flex-grow: 0;
}
/* consultas */

